<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="constr" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=App_Data\TamilDB.accdb" />
  </appSettings>
  <system.web>
    <trust level="Medium"/>
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    
    
    <httpRuntime />
    <sessionState mode="InProc" cookieless="false" timeout="90" />
    <authentication mode="Forms">
      <forms loginUrl="default.aspx"
             defaultUrl="default.aspx"
             protection="All"
             cookieless="UseCookies"
             slidingExpiration="false"
             timeout="30"
             name="aeon.corpusjuris.in" />
    </authentication>

    <customErrors
        mode="Off"
        defaultRedirect="errorpage.aspx">

      <error statusCode="403" redirect="errorpage.aspx"/>
      <error statusCode="404" redirect="errorpage.aspx"/>
    </customErrors>

    <!--  <httpModules>
                <add name="HTTPCaching" type="HTTPCaching"/>
            </httpModules>
        -->
  </system.web>

  <runtime>
    <performanceScenario value="HighDensityWebHosting"  />
  </runtime>

  <system.webServer>
    <!--  <modules runAllManagedModulesForAllRequests="true">
                <add name="HTTPCaching" type="HTTPCaching"/>
            </modules>
        -->

    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>

    <staticContent>
      <clientCache cacheControlCustom="public"
                   cacheControlMaxAge="60:00:00"
                   cacheControlMode="UseMaxAge" />
    </staticContent>
  </system.webServer>

  

</configuration>